@model Web.Models.StripeId;
@{
  ViewData["Title"] = "Payment Gateways";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Gateway" asp-action="Index">Payment Gateways</a></li>
    <li class="breadcrumb-item active" aria-current="page">Stripe</li>
  </ol>
</nav>

<h2 class="text-center">Gateway Paypal Implementation</h2>
<ul>
  <li><strong>Product:</strong> Coffe Table</li>
  <li><strong>Value:</strong> @ViewBag.Price </li>
  <li><strong>Quantity:</strong> 2</li>
  <li><strong>Buy Order:</strong> @ViewBag.Order</li>
  <li><strong>Token: </strong> @Model.Id </li>
  <li><strong>URL: </strong> @Model.Url </li>
</ul>

<a href="@Model.Url" class="btn btn-info">
  <i class="fab fa-stripe"></i> Pay
</a>
